button,
p,
a {
    all: unset;
}


*,
:before,
:after {
    box-sizing: border-box;
}

/*body:has(:where(.radix-themes:not(.dark, .dark-theme))) {*/
/*    --base-background: var(--gray-2);*/
/*    background: var(--base-background);*/
/*}*/

/*body:has(:is(.dark, .dark-theme), :is(.dark, .dark-theme) :where(.radix-themes:not(.light, .light-theme))) {*/
/*    --slate-2: color(display-p3 .095 .098 .105);*/
/*    --base-background: var(--slate-2);*/
/*    background: var(--base-background);*/
/*}*/

/*!*body {*!*/
/*    background: var(--base-background);*/
/*!*}*!*/

.radix-themes {
    --default-font-family: var(--font-main);
    --heading-font-family: var(--font-display);
    /*--font-weight-bold: 600;*/
    /*--font-weight-light: 200;*/
    /*--font-weight-regular: 300;*/
    /*--font-weight-medium: 400;*/
    /*--font-weight-bold: 600;*/
}

:where(.radix-themes) {
    --base-background: var(--gray-2);
}

:is(.dark, .dark-theme), :is(.dark, .dark-theme) :where(.radix-themes:not(.light, .light-theme)) {
    --base-background: var(--gray-2);
}

.radix-themes:where([data-has-background="true"]) {
    background: var(--base-background);
}

