.ActionCell {
    vertical-align: middle;
    line-height: 12px;
}

.TableRoot {
    white-space: nowrap;
    overflow: auto;
}

.TableHeader {
    --table-row-background-color: var(--color-background);
}

.TableHeader th {
    font-weight: 600;
}

.Link {
    /*color: var(--gray-12);*/
    /*text-decoration-color: var(--gray-9);*/
}